<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<!--This page is from Ionic Tabs Template-->
<ion-view view-title="{{infos.name}}">
  <ion-content class="padding">
   <a button class="button button-icon button-clear ion-ios-home-outline" href="#/tab
   "></button></a>

  </ion-content>
</ion-view>
