<ion-view view-title="My Account">
   <ion-nav-buttons side="left" ng-show="show">
       <a button class="button button-icon button-clear ion-ios-home-outline" ng-href="#/tab/misc"></button></a>
    </ion-nav-buttons>
    <ion-nav-buttons side="right" ng-show="false">
        <button class="button button-icon button-clear ion-ios-search"></button>
     </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item class="item item-icon-left item-icon-right" ng-repeat="info in infos" type="item-text-wrap" href="#/tab/infos/{{info.id}}">
      <i class="icon myColor ion-{{info.icon}}"></i>
        <h2>{{info.title}}</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
