<!--Header bar-->
<ion-view  view-title="Sign In">
     <ion-nav-buttons side="left" ng-show="show">
        <button class="button button-icon button-clear ion-ios-arrow-left">&nbsp; back</button>
     </ion-nav-buttons>
     <ion-nav-buttons side="right" ng-show="false">
        <button class="button button-icon button-clear ion-ios-search"></button>
     </ion-nav-buttons>
 <ion-content>

     <form ng-submit="Login(task)">
            <div class="list">
                 <label class="item item-input"></i>
                    <input type="email" placeholder="Email" ng-model="task.title">
                  </label>
                  <label class="item item-input">
                    <input type="password" placeholder="Password" ng-model="task.title">
                  </label>
            </div>

            <div class="padding">
                 <button type="submit" class="button button-block button-positive">Login</button>
            </div>
     </form>
     
     <center><p class="login">Don't hava account yet?</p></center>
     <center><p class="signup">Sign Up</p></center>
    
     <p class="or"><span>Or</span></p>
     <center><p >Sign with other Accounts</p></center>
     <br>
     <div class="row" align="middle">
        <div class="col col-25" >
            <span class="fa-stack fa-1x">
                     <i class="fa fa-circle-thin fa-stack-1x"></i>
                    <i class="fa fa-facebook fa-lg fa-stack"></i>   
            </span>        
        </div>

        <div class="col col-25" >
            <span class="fa-stack fa-1x">
                     <i class="fa fa-circle-thin fa-stack-1x"></i>
                    <i class="fa fa-google-plus fa-lg fa-stack"></i>   
            </span>     
        </div>

        <div class="col col-25" >
            <span class="fa-stack fa-1x">
                     <i class="fa fa-circle-thin fa-stack-1x"></i>
                    <i class="fa fa-twitter fa-lg fa-stack"></i>   
            </span>     
        </div>

        <div class="col col-25" >
            <span class="fa-stack fa-1x">
                     <i class="fa fa-circle-thin fa-stack-1x"></i>
                    <i class="fa fa-whatsapp fa-lg fa-stack"></i>   
            </span>        
        </div>
     </div>
     <!--second row-->
     <div class="row rowTwo" align="middle">
        <div class="col col-25" >
            <span class="fa-stack fa-1x">
                    <i class="fa fa-circle-thin fa-stack-1x"></i>
                    <i class="fa fa-instagram fa-lg fa-stack"></i>   
            </span>   
        </div>

        <div class="col col-25" >
            <span class="fa-stack fa-1x">
                     <i class="fa fa-circle-thin fa-stack-1x"></i>
                    <i class="fa fa-envelope-o fa-lg fa-stack"></i>   
            </span>  
        </div>

        <div class="col col-25" >
            <span class="fa-stack fa-1x">
                     <i class="fa fa-circle-thin fa-stack-1x"></i>
                    <i class="fa fa-ellipsis-h fa-lg fa-stack"></i>   
            </span>         
        </div>    
     </div>

     <br>
        <center><a href="#"><p class="balanced">Forget Password</p></a></center>

    </ion-content>
</ion-view>
