<!--Header bar-->
<ion-view  view-title="Input Readings">
     <ion-nav-buttons side="left" ng-show="show">
        <button class="button button-icon button-clear ion-ios-home-outline"></button>
     </ion-nav-buttons>
     <ion-nav-buttons side="right" ng-show="false">
        <button class="button button-positive">save</button>
     </ion-nav-buttons>

     <ion-content>
      
       <div class="item item-input-inset ">
            <input type="text" placeholder="Time">  
       </div> 

       <div class="list listReduceHeight">

       <!--part one vital signs-->

           <div class="item item-divider narrow">Vital Signs</div>
     
                <div class="row">
                  <div class="col col-50" >
                     <a class="item item-avatar nonBorder" href="#"> 
                        <img src="img/bp.png">
                          <h2>Blood Pres.</h2>
                          <p> mmHg</p>
                     </a> 
                  </div>
                  <div class="col  col-25 item item-input-inset inputMea">
                     <input type="text"  placeholder="Systolic">  
                  </div> 
                  <div class="col  col-25 item item-input-inset inputMea">
                     <input type="text"  placeholder="Diastolic">  
                  </div> 
                </div>

                <div class="row">
                  <div class="col col-50" >
                     <a class="item item-avatar nonBorder" href="#"> 
                        <img src="img/pulse.png">
                          <h2>Pulse</h2>
                          <p> bpm</p>
                     </a> 
                  </div>
                  <div class="col  col-50 item item-input-inset inputMea">
                   <input type="text">  
                  </div>  
                </div>

                <div class="row">
                  <div class="col col-50" >
                     <a class="item item-avatar nonBorder" href="#"> 
                        <img src="img/RR.png">
                          <h2>Resp. Rate</h2>
                          <p> breaths/min</p>
                     </a> 
                  </div>  
                  <div class="col  col-50 item item-input-inset inputMea">
                    <input type="text">  
                  </div>   
                </div>

                <div class="row">
                   <div class="col col-50" >
                     <a class="item item-avatar nonBorder" href="#"> 
                        <img src="img/temp.png">
                          <h2>Temperature</h2>
                          <p>cel/fah</p>
                     </a> 
                   </div> 
                   <div class="col  col-50 item item-input-inset inputMea">
                     <input type="text">  
                   </div>    
                </div>

                <div class="row">
                  <div class="col col-50" >
                     <a class="item item-avatar nonBorder" href="#"> 
                        <img src="img/h2o.png">
                          <h2>Oxygen Sat.</h2>
                          <p>%</p>
                     </a> 
                  </div> 
                  <div class="col col-50 item item-input-inset inputMea"> 
                     <input type="text" name="fname">
                  </div>    
                </div>
                
       <!--end of part one Vital Signs-->

        <!--part two body measurements-->
           <div class="item item-divider narrow">Body Measurements</div>

                <div class="row">
                    <div class="col col-50" >
                       <a class="item item-avatar nonBorder" href="#"> 
                          <img src="img/height.png">
                            <h2>Height</h2>
                            <p>cm/inch</p>
                       </a> 
                    </div> 
                    <div class="col col-50 item item-input-inset inputMea"> 
                      <input type="text" name="fname">
                    </div>    
                </div>

                <div class="row">
                    <div class="col col-50" >
                       <a class="item item-avatar nonBorder" href="#"> 
                          <img src="img/weight.png">
                            <h2>Weight</h2>
                            <p>kg/lb</p>
                       </a> 
                    </div> 

                    <div class="col col-50 item item-input-inset inputMea"> 
                      <input type="text" name="fname">
                    </div>    
                </div>

                <div class="row">
                    <div class="col col-50" >
                       <a class="item item-avatar nonBorder" href="#"> 
                          <img src="img/bmi.png">
                            <h2>BMI</h2>
                            <p>kg/m2 or lb/in2</p>
                       </a> 
                    </div> 
                    <div class="col col-50 item item-input-inset inputMea"> 
                      <input type="text" name="fname">
                    </div>    
                </div>
        <!--end of part two measurements-->
        <!--part three others-->

           <div class="item item-divider narrow">Others</div>
                <div class="row">
                    <div class="col col-50" >
                       <a class="item item-avatar nonBorder" href="#"> 
                          <img src="img/glucose.png">
                            <h2>Glucose</h2>
                            <p>mmol/l</p>
                       </a> 
                    </div> 

                    <div class="col col-50 item item-input-inset inputMea"> 
                      <input type="text" name="fname">
                    </div>    
                </div>

                <div class="row">
                    <div class="col col-50" >
                       <a class="item item-avatar nonBorder" href="#"> 
                          <img src="img/poo.png">
                            <h2>Poo</h2>
                            <p></p>
                       </a> 
                    </div> 
                    <div class="col col-50 item item-input-inset inputMea"> 
                      <input type="text" name="fname" placeholder="diarrhea/loose/normal/hard">
                    </div>    
                </div>

                <div class="row">
                  <div class="col col-50" >
                     <a class="item item-avatar nonBorder" href="#"> 
                        <img src="img/symptoms.png">
                          <h2>Symptoms</h2>
                          <p></p>
                     </a> 
                  </div> 
                  <div class="col col-50 item item-input-inset inputMea"> 
                    <input type="text" name="fname" placeholder="pain, dizziness...">
                  </div>    
                </div>
         <!--end of part three Others-->

         <!--part four Medications-->       
           <div class="item item-divider narrow">Medications</div>

              <div class="list">

                  <div class="item item-input-inset">
                      <label class="item-input-wrapper">
                        <input type="text" placeholder="Medication">
                      </label>
                      <button class="button button-small">
                        +
                      </button>
                  </div>

              </div>
            </div>
            <!--end of Mediciation-->

          <!--end of whole content-->
       
     </ion-content>
</ion-view> 
