<ion-view view-title="Help">
  <ion-content>
    <ion-list>
    <!--This is from the Ionic tap template. Will be modified later-->
    <ion-toggle  ng-model="settings.enableFriends">
        Enable Friends
    </ion-toggle>
    </ion-list>
  </ion-content>
</ion-view>
