<!--Header bar-->
<ion-view  view-title="Misc" >
     <ion-nav-buttons side="left" ng-show="show">
        <button class="button button-icon button-clear ion-ios-home-outline"></button>
     </ion-nav-buttons>
     <ion-nav-buttons side="right" ng-show="false">
        <button class="button button-icon button-clear ion-ios-search"></button>
     </ion-nav-buttons>
 <ion-content>

    <div class="mytext-input ">
        Select one or more icons to input data ...
    </div>

  <!--grid icons start-->
    <div class="increase subheader gridIcon ">
     <!--first row-->
     <div class="row" align="middle">
          <div class="col col-25" >
                <span class="fa-stack fa-2x">
                     <i class="fa fa-circle-thin fa-stack-1x"></i>
                     <i class="fa fa-stethoscope fa-stack"></i>   
                </span>
                 <p class="iconText"><a href="#" class="subdued">Blood Pres.</a></p>
          </div>
      
          <div class="col col-25">
                <span class="fa-stack fa-2x">
                    <i class="fa fa-circle-thin fa-stack-1x"></i>
                    <i class="fa fa-heartbeat fa-stack"></i>   
                </span>
                 <p class="iconText"><a href="#" class="subdued">Pulse</a></p>
          </div>
    
          <div class="col col-25">
              <span class="fa-stack fa-2x">
                    <i class="fa fa-circle-thin fa-stack-1x"></i>
                    <i class="fa fa-tachometer fa-stack"></i>   
              </span>
              <p class="iconText"><a href="#" class="subdued">Weight</a></p>
          </div>

          <div class="col col-25">
              <span class="fa-stack fa-2x">
                    <i class="fa fa-circle-thin fa-stack-1x"></i>
                    <i class="fa fa-fire fa-stack"></i>   
              </span>
              <p class="iconText"><a href="#" class="subdued">Temp.</a></p>
          </div>
     </div>
     <!--second row-->
     <div class="row" align="middle">
        <div class="col col-25">
              <span class="fa-stack fa-2x">
                    <i class="fa fa-circle-thin fa-stack-1x"></i>
                    <i class="fa fa-tint fa-stack"></i>   
              </span>
              <p class="iconText"><a href="#" class="subdued">Glucose</a></p>
        </div>

        <div class="col col-25">
              <span class="fa-stack fa-2x">
                    <i class="fa fa-circle-thin fa-stack-1x"></i>
                    <i class="fa fa-skyatlas fa-stack"></i>   
              </span>
              <p class="iconText"><a href="#" class="subdued">Saturation</a></p>
        </div>

        <div class="col col-25">
              <span class="fa-stack fa-2x">
                    <i class="fa fa-circle-thin fa-stack-1x"></i>
                    <i class="fa fa-plus fa-stack"></i>   
              </span>
              <p class="iconText"><a href="#" class="subdued">Add more</a></p>
        </div>

        <div class="col col-25">
            <button class="input">Input</button>
        </div>
     </div>

 <!--Remainders!-->
    <ion-item  class="item-divider item-icon-right customerBorderLine">Remainders
          <i class="icon ion-ios-compose-outline" ng-click="addNote()"></i> 
    </ion-item>

    <ion-list>

        <ion-checkbox ng-model="filter.red" class="item-icon-right" href="#/tab/remindMed.html">Take medicine(s)<i class="icon ion-ios-information-outline ng-hide"></i></ion-checkbox>
        <ion-checkbox ng-model="filter.yellow" class="item-icon-right">Visit doctor<i class="icon ion-ios-information-outline ng-hide"></i></ion-checkbox>
        <ion-checkbox ng-model="filter.pink" class="item-icon-right">Go to the lab<i class="icon ion-ios-information-outline ng-hide"></i></ion-checkbox>
        <li class="item ion-plus">&nbsp;&nbsp;&nbsp;add</li>
        
    </ion-list>
 </ion-content>
</ion-view> 


