<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-balanced">

  <!-- Dashboard Tab need to build a data page -->
  <ion-tab title="Data" icon-off="ion-stats-bars" icon-on="ion-stats-bars" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Original Account Tab -->
  <ion-tab title="Share" icon-off="ion-share" icon-on="ion-share" href="#/tab/share">
    <ion-nav-view name="tab-share"></ion-nav-view>
  </ion-tab>

  <!--Help Tab-->
  <ion-tab title="help" icon-off="ion-help" icon-on="ion-help" href="#/tab/help">
    <ion-nav-view name="tab-help"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Account" icon-off="ion-person" icon-on="ion-person" href="#/tab/infos">
    <ion-nav-view name="tab-infos"></ion-nav-view>
  </ion-tab>


</ion-tabs>
