/* Empty. Add your own CSS if you like */

/*tab-dash page*/
.fa{
    background-color:#eeedf2 ;
    border-radius:35px;
    color:#8153df;
}
a.subdued{
   /*color:#4713f0;*/
   color:black;
}
.iconText{
	margin-top:5px;
	margin-bottom:5px;

}
.gridIcon{
	margin-top:20px;
}

.mytext-input{
	margin-left:5%;
	margin-top:2%;
	
}

.input {
    border-radius: 15px;
    background: #8153df;
    margin-top:15px;
    text-align:bottom;
    color:white;
    border:grey;
    width: 65px;
    height:30px; 
   

}

.customerBorderLine{
	border-top:green 1px solid!important;
	border-bottom:green 1px solid!important;
}

/* login page*/

.login{
    padding-bottom:5px;
    border-bottom:1px #d9d9d9 solid;
}

.signup{
    margin-bottom:25px;
}

.or { width:100%; text-align:center; border-bottom: 1px solid #d9d9d9 ; line-height:0.1em; margin:20px 0 30px; } 
p span { background:#eeedf2 ; padding:8px 8px; }

.socialIcon{
    margin-top:10px;
    font-size:30px!important;
    color:#8153df;
    border-radius:50px;
    background-color:#eeedf2;
   
}
.rowTwo{
    margin-top:4px!important;
  
}

/* infos page icon color*/
.myColor{
    color:#8153df;
}
/*input readings*/
.narrow{
    line-height:12px;
    font-weight: 300;
    background-color:#8153df;
    color:white;
}
.nonBorder{
    border:none;


}
.inputMea{

    border-radius:15px;
}

